body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: grey;
    color: burlywood;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.funny {
    margin-top: auto;
    font: 4
}